* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Body style*/
body {
    background-color: #a6998d;
    overflow: hidden;
}
/*Header style*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 70px 20px 70px;
    box-sizing: border-box;
    color: whitesmoke;
}
/*Hi text*/
.hi-text {
    font-weight: bold;
}
/*Log out button/icon style*/
.logout-button > img {
    width: 30px;
    height: 40px
}
/*Container style*/
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/*Login form container style*/
.login-form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}
.error {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: red;
}

/*Login form styling*/
.login-form .form{
    padding: 2rem;
}
.form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}
/*Input styling*/
.form input{
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: .2s;
}
.form input:focus{
    border: 1px solid #96C9F4;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transition: .2s;
}
/*Button styling*/
.submit-button{
    width: 90%;
    height: 40px;
    color: #fff;
    background: #96C9F4;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    transition: 0.4s;
}
.submit-button:hover{
    background: #4682A9;
    transition: 0.4s;
}
/*Register label styling*/
.signup{
    font-size: 17px;
    text-align: center;
}
.signup > a{
    text-decoration: none;
    color: #AFD3E2;
    cursor: pointer;
}

.signup label:hover{
    color: #96C9F4;
    text-decoration: underline;
    transition: .2s;
}
